In [32]:
import pandas as pd
import streamlit as st
import plotly.express as px
import plotly as pl
import numpy as np
import scipy as sp
import seaborn as sns
from PIL import Image
import os

vehicle_data = pd.read_csv('vehicles_us.csv')

print(vehicle_data.info())

duplicate_vehicles = vehicle_data.duplicated().sum()
print(duplicate_vehicles)

missing_vehicles = vehicle_data.isnull().sum()
display(missing_vehicles)

display(vehicle_data.sample(20))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 5.1+ MB
None
0

price               0
model_year       3619
model               0
condition           0
cylinders        5260
fuel                0
odometer         7892
transmission        0
type                0
paint_color      9267
is_4wd          25953
date_posted         0
days_listed         0
dtype: int64

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
22426,2995,2002.0,subaru outback,good,4.0,gas,171000.0,automatic,wagon,green,1.0,10/10/2018,27
32253,2995,2006.0,chevrolet trailblazer,good,6.0,gas,243245.0,automatic,SUV,silver,1.0,7/12/2018,45
985,4500,2006.0,honda accord,good,4.0,gas,111000.0,automatic,sedan,blue,NaN,10/23/2018,30
46316,2500,2013.0,chrysler 300,excellent,6.0,gas,55000.0,automatic,sedan,silver,NaN,5/4/2018,47
18593,7999,2008.0,toyota highlander,good,6.0,gas,190083.0,automatic,SUV,grey,NaN,8/8/2018,16
1155,22900,2014.0,toyota sienna,excellent,6.0,gas,29983.0,automatic,van,custom,NaN,12/27/2018,50
26677,5800,NaN,ford explorer,like new,6.0,gas,99413.0,automatic,SUV,white,1.0,8/12/2018,37
3370,5900,2001.0,ram 2500,good,6.0,diesel,295000.0,manual,truck,red,NaN,1/24/2019,42
14437,8995,2014.0,chrysler 200,excellent,4.0,gas,89000.0,automatic,sedan,grey,NaN,12/26/2018,58
13419,24995,2015.0,chevrolet silverado 2500hd,excellent,8.0,diesel,185224.0,automatic,pickup,white,1.0,1/27/2019,35
38767,25995,2015.0,chevrolet suburban,good,8.0,gas,120318.0,automatic,SUV,brown,NaN,9/10/2018,109
4642,27900,2015.0,ford f-150,good,6.0,gas,78166.0,automatic,truck,custom,1.0,1/11/2019,42
32730,2959,1998.0,ram 1500,excellent,8.0,gas,236457.0,automatic,truck,red,NaN,9/13/2018,43
15705,4900,2012.0,volkswagen jetta,excellent,4.0,gas,NaN,automatic,sedan,silver,NaN,4/14/2019,132
8869,10850,2008.0,ford f-150,excellent,8.0,gas,175610.0,automatic,pickup,blue,1.0,9/18/2018,44
32792,5000,2005.0,toyota corolla,excellent,4.0,gas,91000.0,automatic,sedan,white,NaN,9/22/2018,46
31306,4495,2006.0,nissan murano,excellent,6.0,gas,195331.0,automatic,SUV,blue,NaN,9/23/2018,10
27091,12500,2013.0,volkswagen passat,excellent,4.0,diesel,NaN,automatic,sedan,blue,NaN,11/12/2018,8
16671,5500,2001.0,jeep cherokee,good,6.0,gas,153000.0,automatic,SUV,blue,1.0,5/26/2018,11
9978,4250,2005.0,honda accord,excellent,6.0,gas,183163.0,automatic,sedan,red,NaN,10/2/2018,26